.about{
    text-align: center;
    color: #212529;
    }
h2{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    font-size: 32px;
    }
 h3{
     font-size: 28px;
 }   
 .highlight{
     color: #000;
 }
.asterisk{

    font-size: 40px;
    margin: 20px 0;
}
.text{
    color: #666666;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
}
.about > img{
    margin: 40px 0;
}
.skills{
    margin-top: 20px;
    width: 100%;
    display: inline-block;
}
.skill{
    display: inline-block;
    margin: 0 5px;
}


.long-text{
    width: 850px;
    margin-left: calc((100% - 850px) / 2);
    text-align: center;
    margin-top: 20px;
    
}
.progress-bars{
    display: flex;
    flex-direction: row;
    margin-top: 60px;
}
.left-progress,
.right-progress {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.progress-label{
    display: inline-block;
    width: 90%;
    margin: 2.5%;
}
progress{
    width: 90%;
    margin: 2.5%;
    color: #000;
}

.percent{
    float: right;
    
}
.label{
    float: left;
    
}