.contact {
    background-color: #fff;
    padding: 80px 0;
}

.contacts {
    display: flex;
}

.contact-boxes {
    width: 35%;
    text-align: center;
}

.contact-box {
    margin-bottom: 15px;
}

.contact-text {
    text-decoration: none;
    color: var(--text-gray);
}

.contact-box > .fa,
.contact-box > .contact-title,
.contact-box > .contact-text {
    margin-bottom: 8px;
}

.contact-box > .contact-title {
    font-weight: 600;
    text-transform: capitalize;
}

.form {
    width: 65%;
}

.form > input,
.form > textarea,
.form-group > input {
    display: inline-block;
    width: 100%;
    line-height: 22px;
    border: 1px solid #cccccc;
    outline: none;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
}

.form > textarea {
    min-height: 100px;
    max-height: 200px;
    resize: vertical;
}

.form-row {
    display: flex;
    justify-content: space-between;
}

.form-group {
    width: 48%;
}
.form > label,
.form-group > label {
    display: block;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 16px;
}

.form > .btn {
    display: inline-block;
    float: right;
    margin-top: 10px;
    background-color: #000;
    color: #fff;
    font-size: 15px;
    text-align: center;
    text-transform: capitalize;
    border: 2px solid #000;
    border-radius: 4px;
    outline: none;
    padding: 14px 24px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.form > .btn:hover {
    background-color: #fff;
    color: #000;
}

.contact-box > .fa {
    font-size: 40px;
    text-decoration: none;
    color: #000;
    
}


@media (max-width: 770px) {
    .contact {
        padding: 40px 0;
    }

    .contacts {
        flex-direction: column;
    }

    .contact-boxes {
        display: flex;
        justify-content: space-between;
        width: 100%;
        text-align: center;
        order: 2;
        margin-top: 50px;
    }

    .form {
        width: 100%;
    }

    .form-row,
    .form-group {
        flex-direction: column;
        width: 100%;
        order: 1;
    }

}