.long-row {
    display: inline-block;
    width: 1110px;
    margin-left: calc((100% - 1110px) / 2);
}

.short-row {
    display: inline-block;
    width: 570px;
    margin-left: calc((100% - 570px) / 2);
}

@media (max-width:992px) {
    .long-row {
        width: 690px;
    }
}

@media (max-width:688px) {
    .long-row,
    .short-row {
        width: 100%;
    }
}