.long-row {
    display: inline-block;
    width: 1110px;
    margin: 0 calc((100% - 1110px) / 2);
}

.short-row {
    display: inline-block;
    width: 570px;
    margin-left: calc((100% - 570px) / 2);
}

@media (max-width:992px) {
    .long-row {
        max-width: 690px;
        margin-left: 0 calc((100% - 690px) / 2);
    }

}

@media (max-width:688px) {
    .long-row,
    .short-row {
        max-width: 100%;
        padding: 0px 15px;
    }
}