@import './variables.css';
/* Global css for all sections */
.heading-2 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 32px;
  margin-bottom: 8px;
  color: #212529;
  text-transform: capitalize;
}

.heading-2 > span {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: capitalize;
}

.subtext {
  text-align: center;
  color: #6c757d;
  margin: 8px 0 16px 0;
}

.white-text {
  color: #fff;
}

.separator-asterisk {
  text-align: center;
  font-size: 32px;
}

.material-icons {
  font-size: 45px;
}

.section {
  padding: 80px 0;
}

/* Our client */
.our-clients-bg {
  background-color: var(--gray-bg);
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url(../../img/Client/our-client-mountain.jpg);
  background-size: cover;
  background-position: center center;
  color: var(--gray-bg);
}

.separator-asterisk::before,
.separator-asterisk::after {
  display: inline-block;
  content: '';
  background-color: var(--text-gray);
  margin-bottom: 10px;
  width: 30px;
  height: 1px;
}

.slider {
  max-width: 580px;
  padding: 0;
  display: flex;
  margin: 0 calc((100% - 580px) / 2);
}

.slider i {
  font-size: 40px;
}

.slider .card {
  padding: 10px 0;
  width: 580px;
  text-align: center;
}

@media (max-width: 770px) {
  .slider .card {
    width: 500px;
    padding: 0 10px;
  }
  .slider {
    margin: 0 calc((100% - 500px) / 2);
  }
}

.carousel-names {
  font-size: 20px;
}

.carousel-names::after {
  content: 'Google';
  font-size: 16px;
  display: block;
  margin-bottom: 8px;
  font-weight: lighter;
}

.content > p {
  font-size: 18px;
  padding-top: 20px;
}

.fa-user {
  padding: 30px 0 20px;
}

/* Dots */
.owl-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
}

@media (max-width: 770px) {
  .owl-dots{
  width: 500px;
  }
}

.owl-dots .owl-dot {
  display: inline-block;
  height: 10px;
}

.owl-dots > .owl-dot {
  display: flex;
  justify-content: center;
  margin: 0 5px;
}

.owl-dots .owl-dot span {
  display: inline-block;
  width: 12px;
  height: 6px;
  border-radius: 3px;
  background-color: var(--text-gray);
}

.owl-dot.active > span {
  width: 20px;
  background: #fff;
  animation-name: expand;
  animation-duration: 1s;
}

@keyframes expand {
  0% {
    width: 12px;
  }
  100% {
    width: 20px;
  }
}