@import './variables.css';
/* Global css for all sections */
.heading-2 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 32px;
    margin-bottom: 8px;
    color: #212529;
}

.heading-2 > span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.subtext {
    text-align: center;
    color: #6c757d;
    margin: 8px 0 16px 0;
}

.white-text {
    color: #fff;
}

.separator-asterisk {
    text-align: center;
    font-size: 32px;
}

.section {
    padding: 80px 0;
}

/* Our client */
.our-clients-bg {
    background-color: var(--gray-bg);
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url(../../img/Client/our-client-mountain.jpg);
    background-size: cover;
    background-position: center center;
    color: var(--gray-bg);
}

.separator-asterisk::before,
.separator-asterisk::after {
    display: inline-block;
    vertical-align: middle;
    content: '';
    background-color: #c4c2c2;
    width: 30px;
    height: 2px;
}

.carouselle {
    display: block;
    text-align: center;
}

/* Trusted Clients */
.section-gray-bg {
    background-color: var(--gray-bg);
    padding: 80px 0;
}

.client-logos {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.client-logos > img {
    height: 100px;
    width: auto;
}

@media only screen and (max-width:992px) {
    .client-logos {
        flex-direction: column;
        align-items: center;
    }
    .client-logos > img {
        margin: 10px calc((100% - 100px) / 2);
    }
}

/* Subscribe */

.sub-form-div {
    padding: 0 10px;
}

.form {
    width: 100%;
    margin: 50px 0 0 0;
    position: relative;
}

.form > label {
    font-size: 0;
}

.form > input {
    display: inline-block;
    background-color: #f1f1f1;
    color: #4c5667;
    width: 100%;
    border: none;
    padding: 15px 150px 15px 30px;
    font-size: 17px;
    outline: none;
    border: none;
    border-radius: 43px;
    
}

.form > button {
    display: inline-block;
    border: 2px solid #000;
    background-color: #000;
    color: #fff;
    padding: 10px 26px;
    font-size: 17px;
    border-radius: 30px;
    position: absolute;
    top: 25px;
    right: 4px;
    transition: all 0.5s ease;
}

.form > button:hover {
    background-color: #fff;
    color: #000;
}