.work-container {
  padding: 75px 0;
}

.btn-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 50px 0 50px 0;
}

.filter-btn {
  background: transparent;
  color: black;
  font-size: 16px;
  padding: 6px 16px;
  border: white 2px solid;
  border-radius: 5px;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.display-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
}

.display-item {
  width: 350px;
  height: 262px;
  /* background-image: url(/img/Work/poster-frame.jpg); */
  background-position: center;
  background-size: cover;
  margin: 10px;
  border-radius: 5px;
  transition: all 2s;
  cursor: pointer;
}

/* modal start---------------------- */

.image-view {
  position: fixed;
  top: 0;
  height: 100vh;
  background: rgba(24, 24, 24, 0.674);
  width: 100%;
  display: none;
  z-index: 50;
}

.image-box {
  width: 70vw;
  height: 80vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background: tomato; */
  display: none;
  z-index: 100;
}

#prev-btn,
#next-btn {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.5s ease;
  cursor: pointer;
}
#prev-btn {
  border-right: 40px solid grey;
  left: -50px;
}

#next-btn {
  border-left: 40px solid grey;
  right: -50px;
}

#next-btn:hover,
#prev-btn:hover {
  opacity: 0.6;
}
