.work-container {
  padding: 75px 0;
}

.btn-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 50px 0 50px 0;
}

.filter-btn {
  background: transparent;
  color: black;
  font-size: 16px;
  padding: 6px 16px;
  border: white 2px solid;
  border-radius: 5px;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  cursor: pointer;
}
.filter-btn:focus {
  outline: none;
}
.active {
  background: black;
  color: white;
}

.filter-btn:hover {
  background: black;
  color: white;
}

.display-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.display-item {
  width: 350px;
  height: 262px;
  /* background-image: url(/img/Work/poster-frame.jpg); */
  background-position: center;
  background-size: cover;
  margin: 10px;
  border-radius: 5px;
  transition: all 2s;
  cursor: pointer;
  position: relative;
  overflow: hidden;

  -webkit-animation: scale-in-center 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    0.1s both;
  animation: scale-in-center 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.1s both;
  /*  */
}

/* entrance animation */
@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

/* end of animation */

.work-zoom-img img {
  max-width: 100%;
  display: block;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  transition: transform 1s;
}

.display-item:hover .work-zoom-img img {
  transform: scale(1.1);
}

.work-zoom-img {
  position: relative;
}

.display-item-overlay {
  background-image: linear-gradient(#1f1e1ed1, #1f1e1ed1);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 20% 20%;
  transition: background-size 0.5s, color 0.5s;
}

.display-item:hover .display-item-overlay {
  /* background: rgba(41, 38, 38, 0.681); */
  position: absolute;
  display: inline block;

  top: 10px;
  right: 10px;
  left: 10px;
  bottom: 10px;
  border-radius: 5px;

  background-size: 100% 100%;
  color: #fff;
}

.overlay-content {
  background: transparent;
  width: 50%;
  display: inline block;
  float: right;
  text-align: right;
  margin-top: 20px;
  margin-right: 20px;
}

.overlay-content h4 {
  color: white;
  font-size: 18px;
  position: relative;
}

.overlay-content h5 {
  color: lightgray;
  font-size: 12px;
  position: relative;
}
/*  line strike animation START*/

.overlay-content h4::after {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  right: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
}

.display-item:hover .overlay-content h4:after {
  right: 0;
  left: 100%;
  transition: right 0.4s 0s, left 0.4s 0.3s;
}
.overlay-content h5::after {
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  left: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
}

.display-item:hover .overlay-content h5:after {
  left: 0;
  right: 100%;
  transition: left 0.4s 0s, right 0.4s 0.3s;
}

/*  line strike animation END */

/* modal image slider --------------------- */

.image-view {
  position: fixed;
  top: 0;
  height: 100vh;
  background: rgba(24, 24, 24, 0.674);
  width: 100%;
  display: none;
  z-index: 50;
}

.image-box {
  width: 50vw;
  height: 80vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background: tomato; */
  display: none;
  z-index: 100;
}

#prev-btn,
#next-btn {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.5s ease;
  cursor: pointer;
}
#prev-btn {
  border-right: 40px solid grey;
  left: -300px;
}

#next-btn {
  border-left: 40px solid grey;
  right: -300px;
}

#next-btn:hover,
#prev-btn:hover {
  opacity: 0.6;
}

#close-btn {
  width: 20px;
  height: 20px;
  background-color: transparent;
  position: fixed;
  right: 0;
  top: -20px;
  font-size: 12px;
  color: lightgray;
  text-align: right;
}

#img-progress {
  width: 40px;
  height: 20px;
  background-color: transparent;
  position: fixed;
  right: 0;
  bottom: -20px;
  font-size: 12px;
  color: lightgray;
  text-align: right;
  padding-top: 5px;
}

@media (max-width: 990px) {
  .image-box {
    width: 80%;
    min-width: 400px;
  }
  #prev-btn {
    left: -50px;
  }
  #next-btn {
    right: -50px;
  }
  .display-item {
    width: 80%;
    height: 80%;
  }

  .overlay-content {
    position: absolute;
    width: 95%;

    margin-top: 20px;
    margin-right: 20px;
  }
}
